<div class="row">
  <div class="container text-center">
    <div class="col-md-4"><input id="red" value="0" type="text"></div>
    <div class="col-md-4"><input id="green" value="0" type="text"></div>
    <div class="col-md-4"><input id="blue" value="0" type="text"></div>
  </div>
</div>
<div class="row">
  <div id="color" class="container">

  </div>
</div>
